/* Adiciona cor de fundo à página inteira */
body, .app-container {
  background-color: #537584 !important;
  height: 100%; 
  padding-bottom: 50px;
}

/* Define que a altura do conteúdo também ocupe toda a área visível */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.centro{
  text-align: center;
}
